{% load static %}
<script type = "text/javascript" src = "{% static 'js/jquery.js' %}"></script>
<script type = "text/javascript" src = "{% static 'js/datatable.js' %}"></script>
<script type = "text/javascript" src = "{% static 'js/popper.js' %}"></script>
<script type = "text/javascript" src = "{% static 'js/bootstrap.js' %}"></script>
<script type = "text/javascript" src = "{% static 'js/jqueryui.js' %}"></script>
<script type = "text/javascript" src = "{% static 'js/sweetalert2.js' %}"></script>
<script type = "text/javascript" src = "{% static 'js/moment.js' %}"></script>
<script type = "text/javascript" src = "{% static 'js/generic.js' %}"></script>
